/*global*/

* {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --wthite-color: #fff;
    --color-button: #c29525;
    --color-section: #f5f5f5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Mulish', sans-serif;
}


/*global*/


/*header*/

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    perspective: 100rem;
}

.img-wrapeer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: scale 25s infinite alternate;
}

.img-wrapeer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    font-size: 8rem;
    font-weight: 300;
    color: var(--wthite-color);
    width: 50%;
    line-height: 9rem;
    letter-spacing: 2rem;
    text-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: bann 1s 0.5s forwards;
}

.banner p {
    font-family: sans-serif;
    font-size: 3rem;
    color: var(--wthite-color);
    width: 70%;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    text-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: bann 1s 0.7s forwards;
}

.banner button {
    background-color: var(--color-button);
    width: 25rem;
    height: 7rem;
    font-size: 2rem;
    color: var(--wthite-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 .2rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    opacity: 0;
    animation: bann 1s 0.9s forwards;
}

.banner button:hover {
    background-color: #635021;
}

.humber-menu {
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    z-index: 200;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    transition: right 0.7s;
    z-index: 201;
}

.change .humber-menu {
    right: 33rem;
}

.line {
    background-color: #fff;
    width: 100%;
    height: .2rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.line {
    background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
    transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
    opacity: 0;
    visibility: hidden;
}

.change .line-3 {
    transform: rotate(-45deg) translate(0.3rem, -0.8rem);
    ;
}

@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bann {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(-0);
        opacity: 1;
    }
}

.menu-par {
    position: fixed;
    top: 0;
    right: -40rem;
    width: 40rem;
    height: 100vh;
    background-color: var(--wthite-color);
    transition: right 0.5s;
    z-index: 200;
}

.change .menu-par {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
}

.menu-link {
    font-size: 4rem;
    color: #555;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-link:hover::before {
    width: 100%;
}

.menu-link::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-button);
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;
}

.social-media {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media .faba {
    margin: 3rem;
    font-size: 2.2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: var(--wthite-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-media .faba:hover {
    background-color: var(--color-button);
}


/*header*/


/*sectiom*/

.about-us {
    background-color: var(--color-section);
    width: 100%;
    padding-bottom: 15rem;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0 10rem 0;
}

.section-heading {
    font-size: 6rem;
    color: #4b4b4b;
    margin-bottom: 6rem;
    font-family: serif;
    font-weight: 300;
}

.underline {
    width: 12rem;
    height: .3rem;
    background-color: var(--color-button);
}

.services {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(5, 6rem);
    grid-row-gap: 4rem;
}

.service {
    width: 100%;
    margin-bottom: 2rem;
}

.service:nth-child(1) {
    grid-column: 4/7;
    grid-row: 1/3;
}

.service:nth-child(2) {
    grid-column: 3/6;
    grid-row: 3/5;
}

.service:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5/-1;
}

.service:nth-child(4) {
    grid-column: 11/14;
    grid-row: 1/3;
}

.service:nth-child(5) {
    grid-column: 12/15;
    grid-row: 3/5;
}

.service:nth-child(6) {
    grid-column: 11/14;
    grid-row: 5/-1;
}

.house-about {
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.house-about img {
    width: 40rem;
    object-fit: cover;
    opacity: .8;
}

.service-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.service-header h3 {
    display: inline-block;
    font-family: serif;
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hady-icon {
    font-size: 4rem;
    color: #4b4b4b;
    margin-right: 2rem;
}

.pargarpgh-text {
    font-size: 1.1rem;
    text-align: justify;
    font-family: 'josefin slab' serif;
}


/*sectiom*/


/*team*/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
}

.card-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    width: 100%;
}

.card-hady {
    width: 37rem;
    height: 45rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: relative;
}

.card-wrapper-img {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity 0.3s;
}

.card-text-hady {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.card-hady:hover .card-text-hady {
    opacity: 1;
    visibility: visible;
    bottom: 2rem;
}

.card-hady:hover .card-wrapper-img img {
    opacity: .5;
}

.card-text-hady h2 {
    font-size: 2.5rem;
    color: #eee;
    font-weight: 300;
    line-height: 2.5rem;
}

.card-text-hady h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #a52a2a;
    margin-bottom: 1rem;
}

.card-text-hady p {
    font-size: 1.4rem;
    color: #eee;
    line-height: 1.6rem;
    width: 80%;
    font-weight: 300;
    margin-bottom: 2rem;
}

.card-text-hady button {
    width: 10rem;
    height: 3rem;
    background-color: var(--color-button);
    border: none;
    color: #eee;
    font-size: 1.4rem;
    line-height: 1.5rem;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}


/*team*/


/*conect*/

.conect {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conect-wrapper {
    width: 60%;
    height: 75rem;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.silde-left-hady {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, .6), rgba(22, 22, 22, .9)), url('../img/contact-bg.jpg'), center, no-repeat;
    background-size: cover;
}

.silde-right-hady {
    background-color: #eee;
    padding: 3rem 10rem 10rem 10rem;
    width: 65%;
}

.conect-heading {
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    color: #262626;
    margin-bottom: 5rem;
}

.silde-right-hady form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input-group-hady {
    position: relative;
}

.field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: .2rem dashed #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    height: 4rem;
    font-size: 1.4rem;
    color: #4b4b4b;
}

.input-group-hady label {
    position: absolute;
    left: 0;
    font-size: 1.8rem;
    color: #4b4b4b;
    text-transform: uppercase;
    pointer-events: none;
    transition: all .3s;
}

.input-label {
    bottom: 3rem;
}

.field:focus {
    border-bottom-style: solid;
}

.field:focus~label {
    transform: translateY(-3rem);
    font-size: 1.2rem;
}

.submit {
    width: 45rem;
    height: 5rem;
    background-color: var(--color-button);
    color: #fff;
    border: none;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}


/*conext*/


/*footer*/

.footer {
    width: 100%;
    height: 15rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.copyright {
    font-size: 1.6rem;
    color: #a7a7a7;
}

.social-list a {
    margin: 0 2rem;
}

.social-list .loop {
    font-size: 2rem;
    color: #a7a7a7;
}

.scrol-btn {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    height: 4.5rem;
    width: 4.5rem;
    background-color: var(--color-button);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
}


/*footer*/